@import './inc/include.css';
/* Be sure to include ^ */
* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	-webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--white);
	color: var(--text);
}
a {
    color: var(--primary);
	text-decoration: none;
}
a:hover {
    color: var(--primaryLight);
}
a:active {
    color: var(--primaryDark);
}
img {
	max-width: 100%;
	border: 0;
}
h1, h2, h3 {
    color: var(--primary);
}
/* colors */
.primary-text { color: var(--primary); }
.primaryLight-text { color: var(--primaryLight); }
.primaryDark-text { color: var(--primaryDark); }
.white-text { color: var(--white); }
.temp-text { color: var(--temp); }
.gray-text { color: var(--outline); }
.primary-bg { background-color: var(--primary); }
.primaryLight-bg { background-color: var(--primaryLight); }
.primaryDark-bg { background-color: var(--primaryDark); }
/* margins */
.margin-top{
    margin-top: 3rem;
}