/* Standard Elements */
.main {
    background-color: var(--primaryShape);
    color: var(--textLight);
    box-shadow: 0px 5px 20px rgba(40, 40, 40, .3);
    padding: 75px;
}

h1 {
    margin-top: 50px;
}

h1, h2, h6 {
    text-align: center;
    color: var(--textLight);
}

h3, h4, h5 {
    color: var(--textLight);
}

/* Nav */
.nav {
    box-shadow: none;
}

.nav-items {
    vertical-align: middle;
}

.nav-items > h5 {
    margin: 0px;
    margin-right: 10px;
}

.nav-items > .signup {
    margin-right: 4rem;
}

/* Containers */
.login-container {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.postconfirmation {
    padding-bottom: 2rem;
    height: auto;
}

.preconfirmation, .confirmation, .postconfirmation {
    display: none;
}

.preconfirmation.visible, .confirmation.visible, .postconfirmation.visible {
    display: flex;
}

/* Profile Editor */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    border: 1px solid var(--backgroundDark);
    border-radius: 8px;
    box-shadow: 0px 5px 20px rgba(40, 40, 40, .3);
    color: var(--text);
        
    padding: 4px;
    padding-bottom: 1rem;
}

.profile-information {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.profile-banner {
    width: 100%;
    max-width: 35rem; 
    border-radius: 4px;
    border: 1px solid var(--backgroundDark)
}

.profile-avatar {
    max-width: 4rem;
    height: auto;
    
    border-radius: 50%;
    border: 2px solid var(--background);
    
    transform: translate(0px, -40px)
}

.profile-stack {
    flex-direction: column;
    
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.profile-options {
    display: flex; 
    flex-direction: row; 
    width: 27.5rem; 
    justify-content: space-between;
}

.real-name, .email, .birthday {
    display: none;
}

.real-name.visible, .email.visible, .birthday.visible {
    display: block;
}

/* Inputs */
.input-item {
    display: flex;
    width: 100%;
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
}

.input-left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.input-right {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.lws {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
}

.button.long {
    width: 90%;
    max-width: 27.5rem;
}

.button.footer {
    margin: 5px;
}

/* Misc */
.error {
    text-align: center;
    padding: 10px;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 800px) {
    
    /* Header */
    .nav-items > .signup {
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 500px) {
    
    /* Header */
    .nav-items > .signup {
        margin-right: 1rem;
        padding: 0.5rem 1.2rem
    }
    
    .nav-items > h5 {
        width: 100px;
        text-align: right;
    }
    
    /* Containers */
    .main {
       padding: 50px;
    }
    
    /* Inputs */
    .input-item {
        flex-direction: column;
    }
    
    .input-left, .input-right {
        width: 100%;
        
        justify-content: center;
    }
    
    .input-left > h3 {
        width: 100%;
        text-align: center;
    }
    
    .input-right > .input {
        text-align: center;
    }

    /* Profile Configure */
    .profile-information > .profile-avatar {
        width: 3rem;
        
        position: relative;
        transform: translate(0px);
    }
    
    .profile-stack {
        text-align: right;
    }
    
    .profile-options {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .profile-options > .label {
        margin: 10px;
    }
}

@media only screen and (max-width: 400px) {
    
    /* Header */
    .nav-items > h5 {
        display: none;
    }
    
    /* Profile Configure */
    .profile-information {
        flex-direction: column;
        padding: 1rem
    }
    
    .profile-stack {
        text-align: center;
        margin: 0px;
    }
}